// Color Template

.primary-color{
    color: $primary-color;
}

.primary-color-bg{
    background-color: $primary-color;
}

.secondary-color{
    color: $secondary-color;
}

.secondary-color-bg{
    background-color: $secondary-color;
}

.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    background: $color-yellow;
}