$font-cantora:'Cantora One', cursive;
$font-gothic:'Gothic A1', cursive;
$font-raleway:'Raleway', cursive;
$primary-color:#003859;
$secondary-color:#00a5c4;
$color-yellow: #ffd289;
$background-color:#f4f4f4;
